@*
*@
@{
}
@model FirstASPNETWebAppFun.Models.TennisViewModel
<html>
<head>
    <title>I Love Tennis</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
    <h1>Welcome to My Tennis World</h1>
    <div class="image-container">
        <img src="RogerFederer.jpg" alt="Image of who I wish the goat was">
        <img src="rafa.jpg" alt="Image of the goat on clay">
    <div/>
    <div class="image-container">
            <p>
                I admire Roger Federer and Rafael Nadal for their unparalleled dedication, remarkable skill, and enduring sportsmanship.
                Federer's graceful elegance and versatile shot-making, combined with Nadal's relentless determination and fierce competitiveness,
                have made them legends in tennis. Federer's consistency and Nadal's mental toughness have led to numerous Grand Slam titles,
                inspiring fans worldwide. Their enduring rivalry and mutual respect epitomize tennis excellence, inspiring generations of players and fans alike.
            </p>
    </div>

</body>
</html>
